vti_encoding:SR|utf8-nl
japan_pics.htm:japan.htm
links.htm:index_rollovers.htm
mailto\:fishwines@hotmail.com:guatemala.htm homeschool.htm india.htm why.htm spain.htm france.htm index.htm laos.htm usa.htm china.htm ethiopia.htm index_guat.htm japan.htm pakistan.htm spain_old.htm turkey.htm
pakistan_pics.htm:pakistan.htm
annie/html/html/0.htm:annie/html/viewer.htm
http\://grant.org/plewins/andalousia/seville.html:guatemala.htm spain.htm spain_old.htm
china_pics.htm:china.htm
annie/html/photos_files/editdata.mso:annie/html/photos.htm
annie/images/branding.gif:annie/html/viewer.htm
http\://go.microsoft.com/fwlink/:annie/html/viewer.htm
mailto\:glenn@shiftingparadigms.com:guatemala.htm homeschool.htm india.htm why.htm spain.htm france.htm index.htm laos.htm usa.htm china.htm ethiopia.htm index_guat.htm japan.htm pakistan.htm spain_old.htm turkey.htm
